body, html {
    height: 100%;
    margin: 0;
    background-color: white;

}


.main {

}


.hakkimizda{
    background-image: url("../Images/gray_jean.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

.hakkimizda-p{
}
.hakkimizda-i{
}

.hakkimizda-div-1{
    display: inline-block;
    width: 50%;

}

.hakkimizda-div-2{
    display: inline-block;
    margin-top: 10px;
    float: right;
}
.logo{
    width: 80%;
    height: 80%;
}
.hhh{
    /*position: absolute;
    right: 50%;*/
}

#navbarScroll{
    /*position: absolute;
    left: 0;*/
}
.info-and-map{
    position: relative;
    background-color: #19A7CE;
    height: 500px;
    
}


.map-div{
    display: inline-block;
    border: solid;
    border-width: 10px;
    border-color: #146C94;
    width: 620px;
    length: 350px;
    margin-top: 2%;
    margin-left: 2%;
    position: absolute;
    top: 5%;
    right: 5%;
}

.map{}

.ıletısım{
    display: inline-block;
    position: absolute;
    left: 5.5%;
    top: 22%;

}

.info {
    color: black;
    position: absolute;
    left: 5%;
    top: 35%;

}

.footer{
    color: black;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: #146C94;
    padding: 0 35%;


}

.hakkimizda-ana-sayfa{
    background-color: #AFD3E2;
    line-height: 1.5em;
    padding: 10%;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    position: relative;
    width: 100%;
    height: 500px;
}
.hakkimizda-logo{
   display: inline-block;
    position: absolute;
    top: 37%;
    left: 5%;
}
.hakkimizda-metin{
    display: inline-block;
    position: absolute;
    top: 25%;
    padding: 0 5%;
    margin-left: 10%;


}
.leco{
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 25%;
}

.custom{
    background-color: #F6F1F1;
}
.carousel-img-about{
    position: relative;
}


.hakkimizda-div{
    display: inline-block;
    padding: 0 40% 0 0;
    position: absolute;
    left: 3%;
    top: 39%;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.5em;
}

.hakkimizda-carousel{
    width: 500px;
    position: absolute;
    left: 65%;
    top: 47%;
    border: solid;
    border-radius: 1%;
    border-color: lightslategrey;
}

.başlık{
    position: absolute;
    top: 25%;
    left: 3%;

}


