body, html {
    height: 100%;
    margin: 0;
    background-color: white;
}


.main {

}

.navbar-custom{
    color: chocolate;
}


.hakkimizda{
    background-image: url("../Images/gray_jean.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

.hakkimizda-p{
}
.hakkimizda-i{
}

.hakkimizda-div-1{
    display: inline-block;
    width: 50%;

}

.hakkimizda-div-2{
    display: inline-block;
    margin-top: 10px;
    float: right;
}
.logo{
    width: 80%;
    height: 80%;
}
.hhh{
    /*position: absolute;
    right: 50%;*/
}

#navbarScroll{
    /*position: absolute;
    left: 0;*/
}
.info-and-map{
    position: relative;
    background-color: #9DB2BF;
    
}

.map{
    display: inline-block;
    position: relative;

}
.info {
    color: black;
    position: absolute;
    top: 10%;
    right: 0;
    display: inline-block;
    width: 50%;
}

.footer{
    color: black;
    position: absolute;
    margin-bottom: 0;
    width: 100%;
    background-color: #526D82;


}
.map-div{
    display: inline-block;
    border: solid;
    border-width: 10px;
    margin-top: 2%;
    margin-left: 2%;
}

.hakkimizda-ana-sayfa{
    background-color: #9DB2BF;
}


.custom{
    background-color: #9DB2BF;
}